.main {
    background-color: var(--primary);
    width: 100vw;
    height: 200vh;
}

.font {
    font-family: 'Jaro';
}

.header {
    color: var(--secondary);
    font-size: 100px;
    letter-spacing: 3px;
}

.section-1 {
    border: 3px solid white;
    height: 80vh;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

.section-2 {
    border: 3px solid white;
    height: 80vh;
}